<app-toolbar title="Dashboard" filterOptions="{{ this.stringifiedFilterOptions }}"
    sortOptions="{{ this.stringifiedSortOptions }}" filterModel="{{ this.filterModel }}" 
    filterField="{{ this.filterField }}" filterString="{{ this.filterString }}" 
    sort="{{ this.sort }}" order="{{ this.order }}"
    (newFilter)="setFilter($event)" (newFilterString)="setFilterString($event)" (newSort)="setSort($event)"
    (newOrder)="setOrder($event)">
</app-toolbar>
<div class="boards">
    <div id="addModal" class="board-card empty" (click)="openBoardModal()">
        <div>+</div>
        <div>Add new</div>
    </div>
    <ng-container *ngFor="let board of boards$ | async">
        <div class="board-card full">
            <div class="board-title">
                <h3 class="board-name" [routerLink]="['./board', board.id]"><b>{{ board.name }}</b></h3>
                <div class="options popup" id="{{board.id}}" (click)="onPopup($event)">
                    <span class="bullet">&#8226;</span>
                    <span class="bullet">&#8226;</span>
                    <span class="bullet">&#8226;</span>
                    <span class="popuptext" id="boardPopup{{board.id}}">
                        <div (click)="onEdit($event)">Edit</div>
                        <div (click)="onDelete($event)">Delete</div>
                    </span>
                </div>
            </div>
            <div title="Description">{{ board.description }}</div>
            <div title="Tasks: ToDo/InProgress/Done">{{ board.new }}/{{ board.progress }}/{{ board.done }}</div>
            <div title="Date of creation" class="date-of-creation">{{ board.dateOfCreation | date:'yyyy-MM-dd' }}</div>
        </div>
    </ng-container>
</div>

<app-modal *ngIf="showBoardModal" (close)="closeBoardModal()">
    <div class="modal-content">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="newBoard.name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <ng-container *ngIf="newBoard.id === ''; else editMode">
                    <textarea class="form-control" id="description" required [(ngModel)]="newBoard.description"
                        name="description"></textarea>
                </ng-container>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</app-modal>

<ng-template #editMode><textarea class="form-control" id="description" readonly [(ngModel)]="newBoard.description"
        name="description"></textarea>
</ng-template>

<app-modal-outlet></app-modal-outlet>