.boards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.board-card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    position: relative;

    &.full {
        justify-content: space-between;
        background-color: antiquewhite;
    }

    &.empty {
        justify-content: center;
        align-items: center;
        background-color:burlywood;
        cursor: pointer;
    }
}

.board-name {
  cursor: pointer;
}

.board-title {
  display: flex;
  justify-content: space-between;
}

.date-of-creation {
    align-self: right;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.options {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 5px;
}

.bullet {
  color: brown;
  font-size: 1rem;
  font-weight: bold;
  line-height: 5px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 46%;
  left: 42%;
  /* margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::before {
  content: "";
  position: absolute;
  top: -17%;
  left: 50%;
  transform: rotate(180deg);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 