<div class="container">
  <ul class="list">
    <li class="list__row list__row-header item">
      <div class="item__name">Name</div>
      <div class="item__email">Email</div>
      <div class="item__age">Age</div>
      <div class="item__actions"></div>
    </li>

    <li *ngFor="let user of users$ | async" class="list__row item">
      <div class="item__name">{{user.name}}</div>
      <div class="item__email">{{user.email}}</div>
      <div class="item__age">{{user.age}}</div>

      <div class="item__actions">
        <a [routerLink]="['/user', user.id]">Show more...</a>
      </div>
    </li>
  </ul>
</div>
