.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &__row {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    &-header {
      font-weight: 600;
      padding: 0 20px;
    }
  }
}

.item {
  line-height: 40px;

  &__name {
    flex-basis: 200px;
  }

  &__email {
    flex-basis: 200px;
  }

  &__age {
    flex-basis: 100px;
  }

  &__actions {
    flex-basis: 200px;
    color: #8193cb;
    font-style: italic;
    cursor: pointer;
  }
}
