<div class="modal-overlay" *portalTo="'.modals-host'" #overlay>
    <div class="modal">
        <span class="close" (click)="closeModal()">&times;</span>
        <ng-content></ng-content>
    </div>
</div>