<app-toolbar title="Board" name="{{ (board$ | async)?.name }}" instanceId="{{ boardId }}"
    filterOptions="{{ stringifiedFilterOptions }}" sortOptions="{{ stringifiedSortOptions }}"
    deleteOption="{{ deleteOption }}" sort="{{ sort }}" order="{{ order }}" filterModel="{{ filterModel }}"
    filterField="{{ filterField }}" filterString="{{ filterString }}" (newFilter)="setFilter($event)"
    (newFilterString)="setFilterString($event)" (newSort)="setSort($event)" (newOrder)="setOrder($event)">
</app-toolbar>
<div class="columns">
    <ng-container *ngIf="board$ | async as board">
        <ng-container *ngFor="let status of statuses">
            <div class="column" (mousedown)="onMouseDown($event)" (dragstart)="onDragStart()">
                <app-column [boardId]="board.id" [type]="status" filterModel="{{ filterModel }}"
                    filterField="{{ filterField }}" filterString="{{ filterString }}" sort="{{ sort }}"
                    order="{{ order }}"></app-column>
            </div>
        </ng-container>
    </ng-container>
</div>