button {
    border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  height: 3rem;
}

.brand {
  font-size: 2rem;
}

.spacer {
  flex: 1 1 auto;
}