<app-input></app-input>
<app-button></app-button>
<ng-container>
    <li *ngFor="let product of products$ | async" class="list__row item">
        <div class="item__name">{{product.title}}</div>
        <div class="item__email">{{product.description}}</div>
        <div class="item__age">{{product.price}}</div>

        <div class="item__actions">
            <a [routerLink]="['/product', product.id]">Show more...</a>
        </div>
    </li>
</ng-container>