.toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: rgb(247, 247, 240);
}

.spacer {
  flex: 1 1 auto;
}

.title {
  display: flex;
  gap: 1%;
  width: 30%;
}

.delete-sign {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delete-sign:hover,
.delete-sign:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}