<div class="toolbar">
    <span class="title">
        <span>
            <b>{{ title }}</b>
        </span>
        <span>
            <i>{{ name }}</i>
        </span>
        <ng-container *ngIf="deleteOptionBoolean">
            <span class="delete-sign" title="Delete board" (click)="onBoardDelete()">
                -
            </span>
        </ng-container>
    </span>
    <span class="spacer"></span>
    <span>
        <select name="filter" id="filter" (change)="onFilterChange($event)">
            <option value="" [selected]="filterModel === ''">Filter</option>
            <ng-container *ngFor="let option of this.parsedFilterOptions">
                <option value="{{ option.value }}" [selected]="option.value === filterModel + ' ' + filterField">{{
                    option.content }}
                </option>
            </ng-container>
        </select>
    </span>
    <span>
        <select name="sort" id="sort" (change)="onSortChange($event)">
            <option value="id" [selected]="sort === 'id'">Sort by {{ sort }}</option>
            <option *ngFor="let option of this.parsedSortOptions" value="{{ option.value }}"
                [selected]="option.value === sort">{{ option.content }}
            </option>
        </select>
        <app-button title="Asc" [activeClass]="order === 'asc' ? 'highlighted' : ''" (click)="onOrderChange($event)">
        </app-button>
        <app-button title="Desc" [activeClass]="order === 'desc' ? 'highlighted' : ''" (click)="onOrderChange($event)">
        </app-button>
    </span>
</div>

<app-modal *ngIf="showFilterModal" (close)="closeFilterModal()">
    <div class="modal-content">
        <form (ngSubmit)="onFilterSubmit()">
            <div class="form-group">
                <label for="name">Filter string</label>
                <input type="text" class="form-control" required [(ngModel)]="filterStringModel.newFilterString"
                    name="name">
            </div>
            <button type="submit" class="btn btn-success">Filter</button>
        </form>
    </div>
</app-modal>

<app-modal-outlet></app-modal-outlet>