.title {
  text-align: center;
  font-weight: bold;
}

.tasks {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #aaa;
    padding: 5px;
}

.task-card {
    display: flex;
    width: 100%;
    height: 60px;

    &.full {
        justify-content: space-between;
        background-color: antiquewhite;
    }

    &.empty {
        justify-content: center;
        align-items: center;
        background-color:burlywood;
        cursor: pointer;
    }
}

.date-of-creation {
    align-self: right;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.options {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  top: 50%;
  transform: translate(-100%, 25%);
}

.bullet {
  color: brown;
  font-size: 2rem;
  font-weight: bold;
  line-height: 10px;
}

 /* Popup container */
/* .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
} */

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 