<div class="column-content" attr.data-type="{{ type }}">
    <h3 class="title">{{ title }}</h3>
    <div class="tasks">
        <div id="add{{ type }}Task" class="task-card empty" (click)="openTaskModal()">
            <div>+</div>
            <div>Add new</div>
        </div>
        <ng-container *ngFor="let task of tasks$ | async">
            <div class="task-card full draggable" attr.data-id="{{ task.id }}">
                <div>
                    <h4 [routerLink]="['./task', task.id]"><b>{{ task.name }}</b></h4>
                    <h6 class="date-of-creation">{{ task.dateOfCreation | date:'yyyy-MM-dd' }}</h6>
                </div>
                <div class="options popup" id="{{task.id}}" (click)="onPopup($event)">
                    <span class="bullet">&#8226;</span>
                    <span class="bullet">&#8226;</span>
                    <span class="bullet">&#8226;</span>
                    <span class="popuptext" id="popup{{task.id}}">
                        <div (click)="onEdit($event)">Edit</div>
                        <div (click)="onDelete($event)">Delete</div>
                        <ng-container *ngIf="task.status === 'Done'">
                            <div (click)="onArchive($event)">Archive</div>
                        </ng-container>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>

    <app-modal *ngIf="showTaskModal" (close)="closeTaskModal()">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="newTask.name" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <ng-container *ngIf="newTask.id === ''; else editMode">
                        <textarea class="form-control" required [(ngModel)]="newTask.description"
                            name="description"></textarea>
                    </ng-container>
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </app-modal>
</div>

<ng-template #editMode><textarea class="form-control" readonly [(ngModel)]="newTask.description"
        name="description"></textarea>
</ng-template>

<app-modal-outlet></app-modal-outlet>