<div class="container">
  <h3>Admin access only!</h3>

  <nav class="navigation">
    <a class="navigation__item" routerLink="./dashboard">
      Dashboard
    </a>
    <a class="navigation__item" routerLink="./tasks">
      Tasks
    </a>
    <a class="navigation__item" routerLink="./requests">
      Requests
    </a>
    <a class="navigation__item navigation__item-logout" (click)="logout()">Logout</a>
  </nav>

  <router-outlet></router-outlet>
</div>