.navigation {
  height: 50px;
  display: flex;
  align-items: center;

  &__item {
    padding: 10px 15px;
    background: #eee;
    margin-right: 20px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    text-decoration: none;

    &-logout {
      cursor: pointer;
    }
  }
}
