<footer>
    <mat-divider></mat-divider>
    <mat-card color="primary">
        <mat-card-title>FOOTER</mat-card-title>
        <mat-card-subtitle>Subfooter</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</footer>