<!-- <div class="task-card full">
    <div>
        <h4 [routerLink]="['./task', task.id]"><b>{{ task.name }}</b></h4>
        <h6 class="date-of-creation">{{ task.dateOfCreation | date:'yyyy-MM-dd' }}</h6>
    </div>
    <div class="options popup" id="{{task.id}}" (click)="onPopup($event)">
        <span class="bullet">&#8226;</span>
        <span class="bullet">&#8226;</span>
        <span class="bullet">&#8226;</span>
        <span class="popuptext" id="popup{{task.id}}">
            <div (click)="onEdit($event)">Edit</div>
            <div (click)="onDelete($event)">Delete</div>
        </span>
    </div>
</div> -->