<mat-card>
    <div class="container" *ngIf="product$ | async as product">
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
    </div>
    <app-button title="Like"></app-button>
    <app-button title="SHARE">SHARE</app-button>
</mat-card>