<h1 mat-dialog-title>Input data for new menu item</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Text (menu item text)</mat-label>
        <input matInput [(ngModel)]="data.text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Route (menu item route)</mat-label>
        <input matInput [(ngModel)]="data.route">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>