<div class="menu-buttons">
    <button mat-button>
        <span><a routerLink="/products" routerLinkActive="active">Products</a></span>
    </button>
    <button mat-button>
        <span><a routerLink="/cart" routerLinkActive="active">Cart</a></span>
    </button>
    <button mat-button>
        <span><a routerLink="/users" routerLinkActive="active">Users</a></span>
    </button>
    <button mat-button>
        <span><a routerLink="/admin" routerLinkActive="active">Admin panel</a></span>
    </button>
    <button mat-button *ngFor="let menuItem of menuItems">
        <span><a routerLink="{{ menuItem.route }}">{{ menuItem.text }}</a></span>
    </button>
    <button mat-button>
        <span (click)="openDialog()">Add item</span>
    </button>
</div>