.menu-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
    button {
        border: none;
        cursor: pointer;
        font-size: medium;
        font-weight: bolder;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}